# Global default owners (fallback)
*                               @loaors @bitflei

# Frontend (example)
frontend/                        @Linksspringer

# Backend (example)
backend/                         @Puyalavan

# Docs
docs/                            @shashani0204

# CI/CD & repo config
.github/                         @loaors
